<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Genero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Escribe un nombre para predecir el género</ion-label>
    <ion-input [(ngModel)]="name" type="text"></ion-input>
  </ion-item>

  <ion-button (click)="predictGender()" expand="full">Predecir Género</ion-button>

  <ion-item *ngIf="gender === 'male'">
    <ion-label style="color: blue;">Género Masculino</ion-label>
  </ion-item>

  <ion-item *ngIf="gender === 'female'">
    <ion-label style="color: pink;">Género Femenino</ion-label>
  </ion-item>

  <ion-item *ngIf="gender === 'Desconocido'">
    <ion-label>Inconcluso.</ion-label>
  </ion-item>
</ion-content>
