<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Caja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Caja</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="https://media.istockphoto.com/id/678730322/es/vector/caja-de-herramientas-con-herramientas.jpg?s=612x612&w=0&k=20&c=IoPpyC9d9XDhxWdypzAgJH2DHbZy-iHFe_Ej1K-I25s=" alt="Caja de herramientas">
  </div>
</ion-content>
