<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de mi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contacto">
  <img src="assets/imagenes/yo.jpg" class="foto">

  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <p>Ivan Fernando Rodriguez</p>
    </ion-item>

    <ion-item>
      <ion-label>Correo Electrónico:</ion-label>
      <p>20211299@itla.edu.do</p>
    </ion-item>

    <ion-item>
      <ion-label>Teléfono:</ion-label>
      <p>809-499-6498</p>
    </ion-item>
  </ion-list>
</ion-content>
